body{
    background-image: url('template.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*fred again reference, did u notice?*/
.i-found-you{
    text-align:center;
    font-size: 20px;
    padding: 1% 1% 1% 1%;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    background-color: bisque;
    margin-left: 70%;
    margin-right: 10%;
    margin-top: 25%;
    
}

.the-link{
    text-decoration: none;
}