body{
    background-image: url('template.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{

}
.i-found-you{
    text-align:center;
    font-size: 50px;
    padding-top: 8%;
    padding-bottom: 5%;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
}

.the-link{
    text-decoration: none;
}