*{
    background-color: black;

}

 
 
.alternate{
    text-align:center;
    font-size: 60px;
    padding-top: 8%;
    padding-bottom: 5%;
    color:whitesmoke;
    /*transition: 2s;*/
}

p {
    /*opacity: 0;*/
    /*transition: opacity 2s ease-in;*/
    color:whitesmoke;
}

p.load {
    /*opacity: 1;*/
}